<br>
<h6>Dashboard</h6>
<h3>Welcome {{name}}</h3>
<p>Here are your blogs</p>

{{#if blogs}}
<table class="striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each blogs}}
        <tr>
            <td><a href="/blogs/{{_id}}">{{title}}</a></td>
            <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
            <td><span class="dash-status" id="dd">{{status}}</span></td>
            <td>
                <a href="/blogs/edit/{{_id}}" class="btn btn-float table-btn">
                    <i class="fas fa-edit"></i>
                </a>
                <button class="btn red" id="delete_btn" value="{{_id}}">
                    <i class="fas fa-trash"></i>
                </button>

            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>No Blogs.. Create a new blog</p>
{{/if}}